html{
    position: relative;
    min-height: 100%;
}

body {
    background-color: lightgrey;
    margin-bottom: 60px;
}

header{
    background-image: url(img/diago-saito-jzx100-thumbs-up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#header-text{
    font-family: 'Romanesco', cursive;
    font-size: 60px;
    color: burlywood;
    text-shadow: 3px 2px 3px black;
    text-align: center;
    margin-top: 20px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-size: cover;
    background-color: burlywood;
    background-repeat: no-repeat;
}

#footer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: black;
    text-align: center;
    margin-top: 20px;
}

#firstRow{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    border-color: burlywood;
    border-width: thick;
}

#secondRow{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#conP{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
}

#submitbut{
    margin-bottom: 20px;
}